<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <main class="main">
        <h1 class="head"> RACHAEL'S QUIZ APPLICATION</h1>

        <nav class="nav">
            <a href="/" style="color: black; text-decoration: none;">HOME </a> 
            <a href="/post-question" style="color: black; text-decoration: none;">POST QUESTIONS </a> 
            <a href="/solve-question" style="color: black; text-decoration: none;">SOLVE QUIZ</a>
        </nav>
    </main>





</body>



</html>