<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <header class="header">
        <h1 >QUIZ APPLICATION</h1>

        <nav class="nav">
            <a href="/" style="color: black; text-decoration: none;">HOME </a> 
            <a href="/post-question" style="color: black; text-decoration: none;">POST </a> 
            <a href="/solve-question" style="color: black; text-decoration: none;">SOLVE</a>
        </nav>
    </header>

    <h1 class="heading">QUIZ RESULT</h1>

    <h4>Well-Done!!, Keep It Up.</h4>
    <p>Your Score: <span class="score"><%=score%></span></p>
</body>
</html>